@import "styles/theme.scss";

@for $i from 1 to 12 {
  .box#{$i} {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .box {
      margin-left: $padding-base;
      margin-right: $padding-base;
      width: calc(#{100% / $i} - #{$padding-base * 2});
    }
    @for $j from 1 to $i + 1 {
      .x#{$j} {
        width: calc(#{100% / $i * $j} - #{$padding-base * 2});
      }
      .x#{$j}Fluid {
        width: calc(#{100% / $i * $j});
      }
    }
    .boxFluid {
      margin-left: 0;
      margin-right: 0;
      width: #{100% / $i};
      &Center {
        @extend .boxFlex;
        justify-content: center;
      }
    }
    .boxFlex {
      @extend .box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &Center {
        @extend .boxFlex;
        justify-content: center;
      }
    }

    .boxFluidFlex {
      @extend .boxFluid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &Center {
        @extend .boxFluidFlex;
        justify-content: center;
      }
    }
  }
}
