@import "styles/theme.scss";
.root {
  display: block;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px $padding-base;

  .crumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 30px;
    }

    &::after {
      content: "＞";
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 30px;
    }

    &:last-of-type {
      &::after {
        content: none;
      }
    }
  }
}

// write another class
