@import "theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&family=Yusei+Magic&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Yusei Magic";
  font-weight: 500;
  font-size: $font-size;
  overflow-x: hidden;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

h2 {
  font-size: 48px;

  @include mobile {
    font-size: 33px;
  }
}

h3 {
  font-size: 33px;

  @include mobile {
    font-size: 27px;
  }
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 27px;

  @include mobile {
    font-size: 20px;
  }
}

main {
  font-size: 20px;
}
