@import "styles/theme.scss";

.root {
  display: block;
}

.notifyBox {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 256px;

  @include mobile() {
    flex-direction: column;
  }
}

.notifyLabel {
  .roundLabel {
    background-color: $yellow1;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
  }
}

.moreButton {
  align-self: center;
  width: 150px;

  @include mobile() {
    align-self: flex-end;
  }
}

.aboutMidBox {
  width: 100%;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: $cyan1;
    top: 0;
  }
  &::before {
    width: 5.8%;
    left: 0;
  }
  &::after {
    width: 6.05%;
    right: 0;
  }
  background-color: $cyan2;
  line-height: 48px;

  p {
    @include mobile() {
      padding-bottom: 30px;
    }
  }
}

.textBox {
  width: 80%;
  margin: auto;
  h2 {
    @include mobile() {
      padding-top: 2em;
    }
  }
  & > * {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  transform: translateY(-5em);
}

.title {
  text-decoration: underline;
  text-decoration-color: $main-color1;
  text-underline-offset: 20%;
  line-height: 2em;
  @include mobile() {
    text-decoration: none;
  }
}

.twinBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: #{$padding-base * 3};
  .box {
    width: 50%;
    margin-left: $padding-base;
    margin-right: $padding-base;
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  @include mobile() {
    display: block;
    .box {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    h4 {
      font-size: 19px;
      background: linear-gradient(transparent 95%, $cyan1 95%);
      padding-bottom: 0;
      margin-bottom: 0.83em;
    }

    main {
      font-size: 16px;
    }
  }
}

.branchBox {
  cursor: pointer;

  .branchText {
    font-size: 30px;

    @include mobile() {
      font-size: 14px;
    }
  }
}

.contactBtn {
  background-color: $yellow1;
  text-align: center;
  padding: 10px 30px;
  font-weight: bold;
}

.snsBox {
  background-image: url("/imgs/SNS.jpg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: contain;
  max-width: 720px;
  margin: auto;
  p {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    text-align: right;
  }
  .snsBtnContainer {
    display: flex;
    justify-content: flex-end;
    img {
      height: 70px;
      margin: 30px;
    }
  }

  @include mobile() {
    background-image: none;
    p {
      text-align: center;
    }
  }
}

.jumpButton {
  background-color: $main-color1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 100px;
  transition: transform 0.3s ease;
  z-index: 95;
  cursor: pointer;
  span {
    transform: rotateZ(-90deg);
    padding: 0;
    margin: -4px 0;
    font-size: 12px;
    font-weight: 300;
    width: 10px;
  }
  &Fixed {
    position: fixed;
    right: 0;
    bottom: 10%;
  }

  &Showed {
    pointer-events: all;
    transform: translateX(0%);
  }

  &Hidden {
    pointer-events: none;
    transform: translateX(100%);
  }
}

.footBar {
  background-color: $main-color1;
  height: 40px;
  transition: transform 0.3s ease;
  z-index: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .triangle {
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 500;
    &::after {
      $triangle-size: 10px;
      position: absolute;
      content: "";
      border-top: $triangle-size solid transparent;
      border-left: $triangle-size solid transparent;
      border-right: $triangle-size solid white;
      border-bottom: $triangle-size solid white;
      bottom: 10%;
    }
  }
  &Fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  &Showed {
    pointer-events: all;
    transform: translateY(0%);
  }

  &Hidden {
    pointer-events: none;
    transform: translateY(100%);
  }
}

.pr1 {
  background-color: rgba($color: $main-color1, $alpha: 0.7);
  padding: 5px;
  @include mobile() {
    background-color: $main-color1;
  }
}

.pr2 {
  background-color: rgba($color: $main-color2, $alpha: 0.7);
  padding: 5px;
  @include mobile() {
    background-color: $main-color2;
  }
}
