@import "styles/theme.scss";
.root {
  display: block;
}

.inputBox {
  label {
    display: block;
  }
  input[type="text"],
  input[type="password"] {
    outline: none;
    border: none;
    border-bottom: 1px solid $cyan1;
    transition: border-bottom 0.2s ease;
    &:focus {
      border-bottom: 3px solid $cyan1;
    }
    width: 100%;
    max-width: 550px;
    margin-bottom: $padding-base;
  }
}

.selectBox {
  margin-bottom: $padding-base;
}

.radioGroup {
  input[type="radio"] {
    display: none;
    $radius: 10px;
    & + label {
      display: inline;
      margin: 10px 40px;
      @include mobile() {
        display: block;
        margin: 10px 0px;
      }
      &::before {
        content: "";
        display: inline-block;
        width: $radius;
        height: $radius;
        background: transparent;
        border: 1px solid $cyan1;
        border-radius: $radius;
        margin-right: 10px;
      }
    }
    &:checked + label {
      display: inline;
      margin: 10px 40px;
      @include mobile() {
        display: block;
        margin: 10px 0px;
      }
      &::before {
        content: "";
        display: inline-block;
        width: $radius;
        height: $radius;
        background: radial-gradient($cyan1 60%, transparent 10%);
        border: 1px solid $cyan1;
        border-radius: $radius;
        margin-right: 10px;
      }
    }
  }
}

.submitButton {
  display: block;
  background-color: $cyan1;
  font-weight: 500;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: auto;
  font-size: 36px;
  @include mobile() {
    font-size: 20px;
  }
  margin-bottom: $padding-base;
  box-shadow: 0px 1px 1px $gray;

  &:hover {
    background-color: lighten($cyan1, 10%);
    box-shadow: 0px 2px 1px $gray;
  }

  &:active {
    background-color: darken($cyan1, 10%);
    box-shadow: 0px 2px 1px $gray inset;
  }
}

.inputArea {
  width: 100%;
  textarea {
    display: block;
    border: 1px solid $cyan1;
    resize: none;
    width: 99%;
    margin: auto;
    &:focus {
      outline: none;
      border: 3px solid $cyan1;
    }
  }
  margin-bottom: $padding-base;
}

.comboBox {
  position: relative;
  display: block;
  border: 1px solid $main-color1;
  cursor: pointer;
}

.select {
  opacity: 0;
  width: 0px;
}

.shownComboBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-base;
}

.shownListBox {
  opacity: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
  left: -1px;
  border: 1px solid $main-color1;
  z-index: 99;

  .showListItem {
    padding: $padding-base;
    background-color: $light-gray;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $gray;
    }
  }
}

.icon {
  height: 16px;
}
